h1, h3 {}

h3 {}

h3 a {
  font-weight: 900;
  color: #252525;
}

#main {
  max-width: 670px;
  margin: auto;
  padding: auto 5px;
}

.main-size {
  max-width: 670px;
  margin: auto;
  padding: auto 5px;
}

.icon:hover {
  fill: #0056b3;
  cursor: pointer;
}

.response {
  float: right;
  margin: -5px 20px 0 0;
  fill:#212529;
}

.response:hover {
  float: right;
  margin: -5px 20px 0 0;
  fill:#05ac2f;
}

.flag:hover {
  fill: #f12400;
}

.flag-parent {
  float: right;
  margin: 22px -25px 0 0;
  fill:#212529;
}

.flag-child {
  float: right;
  margin: -5px 10px 0 0;
  fill:#505050;
}
.news {}

.news p {}

.header {
  padding: .5rem 1rem;
}

.header a {
  color: inherit;
  text-decoration: none;
}

#blog, #accueil {
  margin: 40px auto 0;
  text-align: center;
  font-weight: bolder;
}


blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px 0;
  font-family:Open Sans;
  width: 100%;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid rgb(29, 29, 29) ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:rgb(84, 90, 88);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}